# Telegram API credentials (https://my.telegram.org)
API_ID=31606811
API_HASH=36e6d64e83ee00422c8ba535a60eaa99

# Bot Token from @BotFather
BOT_TOKEN=8346296445:AAHalUn11qqIr5j29h3EZTVUmxK-AvyBDqw

# Max file size in MB (Pyrogram supports up to ~2GB)
MAX_FILE_SIZE_MB=20000
